{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block head %}
<script src="public/js/product.js"></script>
{% endblock %}
{% block content %}
    <h1 onclick="myAlert()">Products</h1>
    <form><input type="text" name="limit" id="limit" placeholder="limit" value="{{ params.limit }}" /><input type="text" name="offset" id="offset" placeholder="offset" value="{{ params.offset }}" /><input type="submit"></form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product.kodn }}</td>
            <td>{{ product.kod }}</td>
            <td>{{ product.ilosc }}</td>
            <td>{{ product.cena }}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}